<div>
	<div class="ui-tle" data-dojo-attach-point="titleEl" style="display:none;">
		<span class="title">${pageTitle}</span>
	</div>

	<div class="line clearfix">
		<div class="column w120 first">
			<label class="label-rqe">Group Name</label>
		</div>
		<div class="column grid_6 last">
			<input type="text" class="input_4" data-dojo-attach-point="txtGroupNameNode" maxlength="32">
			<span class="hint">(1-32 characters)</span>
			<p></p>
		</div>
	</div>

	<div class="btn-area" data-dojo-attach-point="btnArea">
		<button class="btn btn-small btn-cancel" data-dojo-attach-point="cancelBtn">Cancel</button>
		<button class="btn btn-small btn-dim" data-dojo-attach-point="saveBtn">Save</button>
	</div>
</div>
