<div>
	<div class="ui-tle" data-dojo-attach-point="titleEl" style="display:none;">
		<span class="title">${pageTitle}</span>
	</div>

	<div class="line clearfix">
		<div class="column grid_3 first">
			<label class="label-rqe">Name</label>
		</div>
		<div class="column grid_10 last">
			<input type="text" class="w200" data-dojo-attach-point="nameNode" maxlength="32">
			<p class="hint">1-32 characters</p>
		</div>
	</div>

	<div class="line clearfix">
		<div class="offset_3">
			<span class="igray mt10">Enter the service name and protocol for the resource record in the following format: _&lt;service&gt;._&lt;protocol&gt;. For example, if there is a web server on a device that you want to share across the network, enter: _http._tcp.</span>
		</div>
	</div>

	<div class="clearfix">
		<div class="column grid_3 first">
			<label class="label-rqe">Type</label>
		</div>
		<div class="column grid_10 last">
			<input type="text" class="w200" data-dojo-attach-point="typeNode" maxlength="64">
			<p class="hint">1-64 characters</p>
		</div>
	</div>

	<div class="btn-area" data-dojo-attach-point="btnArea">
		<button class="btn btn-small btn-cancel" data-dojo-attach-point="cancelBtn">Cancel</button>
		<button class="btn btn-small btn-dim" data-dojo-attach-point="saveBtn">Save</button>
	</div>
</div>
