<div>
	<div class="ui-tle" data-dojo-attach-point="titleEl" style="display:none">
		<span class="title">${pageTitle}</span>
	</div>
	<div class="line clearfix">
		<div class="grid_3 first column">
			<label class="label-rqe">Name</label>
		</div>
		<div class="column grid_8 last">
			<input type="text" name="" class="w200" ah-permit="name" data-dojo-attach-point="nameEl" />
		</div>
	</div>

	<div class="line clearfix" data-dojo-attach-point="addressWrap">
		<div class="grid_3 first column">
			<label class="label-rqe">MAC Address</label>
		</div>
		<div class="column grid_8 last">
			<input type="text" name="" maxLength="12" class="w200" data-dojo-attach-point="macAddress" />
		</div>
	</div>
	<div class="line clearfix" data-dojo-attach-point="rangeWrap">
		<div class="grid_3 first column">
			<label class="label-rqe">IP Range</label>
		</div>
		<div class="column grid_8 last">
			<input type="text" name="" maxLength="12" placeholder="From MAC Address" class="w200" data-dojo-attach-point="ipRange1" />
			--
			<input type="text" name="" maxLength="12" placeholder="To MAC Address" class="w200" data-dojo-attach-point="ipRange2" />
		</div>
	</div>
	<div class="line clearfix" data-dojo-attach-point="subnetWrap">
		<div class="grid_3 first column">
			<label class="label-rqe">MAC OUI</label>
		</div>
		<div class="column grid_8 last">
			<input type="text" name="" maxLength="6" placeholder="First 6 digits of a MAC Address" class="w200" data-dojo-attach-point="macOui" />
		</div>
	</div>

	<div class="btn-area" data-dojo-attach-point="btnArea">
		<button class="btn btn-small btn-cancel" data-dojo-attach-point="cancelBtn">Cancel</button>
		<button class="btn btn-small btn-dim" data-dojo-attach-point="saveBtn">Save</button>
	</div>
</div>
