<div data-dojo-attach-point="vlanObjForm">
		<div class="ui-tle" data-dojo-attach-point="titleEl" style="display:none">
			<span class="title">${pageTitle}</span>
		</div>

		<div class="line clearfix">
			<div class="grid_3 first column">
				<label class="label-rqe">${i18n.field.name}</label>
			</div>
			<div class="column last">
				<input type="text" name="" class="w120" data-dojo-attach-point="nameEl" />
			</div>
		</div>

		<div class="line clearfix">
			<div class="grid_3 first column">
				<label class="label-rqe">${i18n.field.mode}</label>
			</div>
			<div class="column last">
				<select class="input_2" data-dojo-type="ah/util/Chosen" data-dojo-attach-point="powerMode">
					<option value="_8023AF">802.3af</option>
					<option value="_8023AT">802.3at</option>
				</select>
			</div>
		</div>

		<div class="line clearfix">
			<div class="grid_3 first column">
				<label class="label-rqe">${i18n.field.limit}</label>
			</div>
			<div class="column last">
				<input type="text" class="input_2 J-override" maxLength="9"  data-dojo-attach-point="powerLimit" value="15400" />
			</div>
		</div>

		<div class="line clearfix">
			<div class="grid_3 first column">
				<label class="label-rqe">${i18n.field.priority}</label>
			</div>
			<div class="column last">
				<select class="input_2 fn-left" data-dojo-type="ah/util/Chosen" data-dojo-attach-point="priority">
					<option value="LOW">low</option>
					<option value="HIGH">high</option>
					<option value="CRITICAL">critical</option>
				</select>
			</div>
		</div>

		<div class="line clearfix">
			<div class="grid_3 first column">
				<label>${i18n.field.description}</label>
			</div>
			<div class="column last">
				<input type="text" class="input_5 fn-left" maxLength="128" value="" data-dojo-attach-point="description" />
			</div>
		</div>

		<div class="btn-area" data-dojo-attach-point="btnArea">
			<button class="btn btn-small btn-cancel" data-dojo-attach-point="cancelBtn">${i18n.btn.cancel}</button>
			<button class="btn btn-small btn-dim" data-dojo-attach-point="saveBtn">${i18n.btn.save}</button>
		</div>
</div>
