<div data-dojo-attach-point="vlanObjForm">
		<div class="ui-tle" data-dojo-attach-point="titleEl" style="display:none">
			<span class="title">${pageTitle}</span>
		</div>

		<div class="line clearfix">
			<div class="grid_3 first column">
				<label class="label-rqe">${i18n.field.name}</label>
			</div>
			<div class="column last">
				<input type="text" name="" class="w200" data-dojo-attach-point="nameEl" />
			</div>
		</div>

		<div class="line clearfix">
			<div class="grid_3 first column">
				<label class="label-rqe">${i18n.field.defaultVlan}</label>
			</div>
			<div class="column last">
				<input type="text" name="" data-dojo-attach-point="defaultVlanId" class="w200">
			</div>
		</div>

		<div class="line clearfix">
			<label class="grid_8">
				<input type="checkbox" data-dojo-attach-point="vlanRuleButton" ah-sin-wipe="vlanRule">
				<span class="lbl">${i18n.applyVlan}</span>
			</label>
		</div>

		<div class="line clearfix fn-hidden">
			<label>
				<input id="obscure" type="checkbox" data-dojo-attach-point="toggleGrid" checked="checked">
				<span class="lbl">${i18n.tip}</span>
			</label>
		</div>

		<div data-dojo-attach-point="vlanRule" style="display: none">
			<div style="display:none;" data-dojo-attach-point="addNewVlan" class="add-object-box addNewObj">
				<div class="mt30">
					<div class="line clearfix">
						<div class="first column" style="line-height:30px;">
							<label class="">${i18n.field.vlanId}</label>
						</div>
						<div class="grid_8 column">
							<input type="text" data-dojo-attach-point="vlanId"/>
						</div>
					</div>
					<div class="line clearfix">
						<div class="grid_3 first column">
							<p class="mt15">
								<button class="btn btn-small btn-dim" data-dojo-attach-point="addToVlan">${i18n.btn.add}</button>
							</p>
						</div>
					</div>
				</div>
			</div>

			<div data-dojo-attach-point="vlanGrid" data-dojo-type="ah/util/form/Grid" data-dojo-props="datas: [], bNoDataText: true, structure: this.__structure, plugins: {'indirectSelection': {headerSelector: true, styles: 'vertical-align:top;padding:8px 5px 0;'}}, actionArea: 'wipeAdd,remove', wipeArea: this.addNewVlan"></div>
		</div>

		<div class="btn-area" data-dojo-attach-point="btnArea">
			<button class="btn btn-small btn-cancel" data-dojo-attach-point="cancelBtn">${i18n.btn.cancel}</button>
			<button class="btn btn-small btn-dim" data-dojo-attach-point="saveBtn">${i18n.btn.save}</button>
		</div>
</div>
