<div>
	<div class="ui-tle" data-dojo-attach-point="titleEl" style="display:none;">
		<span class="title">${pageTitle}</span>
	</div>

	<div class="line clearfix">
		<div class="column grid_3 first">
			<label class="label-rqe">Name</label>
		</div>
		<div class="column grid_10 last">
			<input type="text" class="w200" ah-permit="name" data-dojo-attach-point="nameNode">
			<p class="hint">1-32 characters</p>
		</div>
	</div>

	<div class="line clearfix">
		<div class="offset_3">
			<span class="igray mt10">VLANs can be configured as ranges or individually. Indicate a range with a hyphen. Separate VLAN entries with commas, for example, 1-30, 100-200, 500</span>
		</div>
	</div>
	<div class="clearfix">
		<div class="column grid_3 first">
			<label class="label-rqe">VLANs</label>
		</div>
		<div class="column grid_10 last">
			<input class="input_4" type="text" data-dojo-attach-point="vlansNode" ah-permit="name">
			<p class="hint">[1-4094]</p>
		</div>
	</div>

	<div class="line clearfix">
		<div class="grid_3 first column">
			<label>Description</label>
		</div>
		<div class="column grid_10 last">
			<textarea name="description" data-dojo-attach-point="descriptionNode"></textarea>
		</div>
	</div>

	<div class="btn-area" data-dojo-attach-point="btnArea">
		<button class="btn btn-small btn-cancel" data-dojo-attach-point="cancelBtn">Cancel</button>
		<button class="btn btn-small btn-dim" data-dojo-attach-point="saveBtn">Save</button>
	</div>
</div>
